* {
  padding: 0;
  margin: 0; }

.row {
  margin-bottom: 0; }

.container {
  width: 95%; }

header {
  position: fixed;
  top: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  font-size: 1.125rem;
  z-index: 100;
  background: #0275d8;
  height: 60px;
  font-size: 14px;
  color: #fff;
  padding: 0 15px; }
  header a {
    color: #fff; }
  header h1 {
    font-size: 16px;
    margin: 0;
    font-weight: bolder; }
  header div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column; }
  header .input-field {
    margin: 0; }
  header .select-wrapper input.select-dropdown {
    color: #fff;
    border-bottom: 0; }
  header .select-wrapper .caret {
    fill: #fff; }
  header select {
    -webkit-appearance: none;
    background-color: transparent;
    width: auto;
    padding: 0;
    border: 0;
    font-size: 16px;
    border-radius: 0;
    color: #fff;
    margin-right: -5px; }

#score {
  margin-bottom: 48px; }

.points {
  color: #f7c852;
  font-weight: 900; }

#drivers {
  margin-top: 70px;
  margin-bottom: 60px; }

.collapsible-header {
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .collapsible-header p {
    width: 33.3%; }

p.team {
  font-weight: bold; }

p.date {
  text-align: center; }

p.time {
  text-align: right; }

span {
  display: block;
  width: 33.3%; }

.tabs {
  position: fixed;
  bottom: 0;
  z-index: 50;
  display: -ms-flexbox;
  display: flex; }
  .tabs .tab {
    -ms-flex: 1;
    flex: 1;
    line-height: 60px; }
  .tabs .tab a.active {
    color: #0275d8; }
  .tabs .tab a:hover {
    color: blue;
    background-color: rgba(2, 117, 216, 0.2); }
  .tabs .tab a {
    color: #0275d8; }
  .tabs .indicator {
    background: #0275d8;
    height: 4px;
    width: 50%; }

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(2, 117, 216, 0.2); }
