#drivers
	margin-top: 70px
	margin-bottom: 60px

.collapsible-header
	flex-direction: row
	justify-content: space-between
	p
		width: 33.3%
p.team
	font-weight: bold

p.date
	text-align: center

p.time
	text-align: right
span
	display: block
	//width: 33.3%
